::-webkit-scrollbar {
    display: none;
}

.logout {
    position: absolute;
    top: 20px;
    right: 90px;
}

.inner-container {
    width: 66%;
    height: 78%;

    border-radius: 40px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
      overflow-x: hidden;
    justify-content: center;
    align-items: center;
    /* color: white; */
    background-color: linear-gradient(135deg, #8A3FFC, #1E3C72);
}

.inner-container h1 {
    font-weight: bold;
    font-size: 50px;
    color: linear-gradient(135deg, #5d06e0, #1E3C72);
    text-align: center;
}

.form-container {
    width: 69%;
    height: 65%;
    margin-left: 15%;
    background-color: linear-gradient(135deg, #8A3FFC, #1E3C72);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    position: relative;
    top: 50px;

}

.inner-form-container {
    width: 70%;
    height: 70%;
    margin-left: 15%;
    border-radius: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    position: relative;
    top: 60px;
    left: 20px;

}

.inner-form-container div {
    width: 800px;
    height: 50px;
    display: flex;
    gap: 20px;
    /* background-color: aliceblue; */
}

.inner-form-container input {
    width: 500px;
    height: 30px;
    font-size: 20px;

}

.inner-form-container label {
    font-size: 30px;
}

.input1 {
    position: relative;
    left: 125px;
}

.input3 {
    position: relative;
    left: 143px;

}

.inner-form-container input::placeholder {
    position: relative;
    top: 0px;
    font-size: 18px;
}

.input4 {
    position: relative;
    left: 58px;

}

.input5 {
    position: relative;
    left: 93px;

}

.input7 {
    position: relative;
    left: 70px;
}

.submit-button button:hover {
    background: linear-gradient(135deg, #5f03e9, #bb67e2);
}

.submit-button button {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, #8A3FFC, #1E3C72);
    position: relative;
    top: 160px;
    left: 230px;
    cursor: pointer;
    color: white;
    font-size: large;
}

.goto {
    position: relative;
    top: 200px;
    left: 350px;
    cursor: pointer;
}

.goto:hover {
    color: rgb(174, 174, 255);
}

@media (max-width: 600px) {
    ::-webkit-scrollbar {
        display: none;
    }


    .inner-container h1 {
        font-size: 30px;
        position: relative;
        top: 20px;
    }

    input[type="date"]::-webkit-datetime-edit {
        font-size: 10px;
    }


    .inner-form-container input::placeholder {
        position: relative;
        top: 0px;
        font-size: 13px;
    }

    .inner-form-container input {
        width: 120px;
        height: 15px;
        font-size: 15px;
        position: relative;
        left: 120px
    }

    .inner-form-container label {
        font-size: 20px;
        position: relative;
        left: 120px;
    }

    .inner-container {

        width: 590px;
        height: 100vh;
        position: relative;
        top: 60px;
        border-radius: 40px;
    }

    .inner-form-container {

        position: relative;
        left: 130px;
    }

    .inner-container input {
        position: absolute;
        left: 5px;
    }

    .submit-button button {
        width: 120px;
        height: 35px;
        position: relative;
        left: 140px;
        top: 80px;
    }

    .goto {
        position: relative;
        top: 100px;
        left: 140px;
    }
}

@media (min-width: 601px) and (max-width: 992px) {

    .container {
        width: 100%;
        height: 100vh;
    }

    .inner-container {

        width: 700px;
        height: 100vh;

        border-radius: 40px;
        position: relative;
        top: 60px;
    }

    .inner-container h1 {
        font-size: 35px;
        position: relative;
        top: 30px;
    }

 

    .inner-form-container input {
        width: 190px;
        height: 20px;
        font-size: 17px;
        position: relative;
        left: 120px
    }
        .inner-form-container label {
        font-size: 20px;
        position: absolute;
        /* left: 120px; */
    }
    .inner-form-container div{
        position: relative;
        left: 190px;
    }
        .inner-container input {
        position: absolute;
        left: 155px;
    }
    
    .submit-button button {
        width: 170px;
        height: 40px;
        position: relative;
        left: 160px;
        top: 80px;
    }
   
   .goto {
        position: relative;
        top: 100px;
       
        left: 170px;
    }
        .inner-form-container input::placeholder {
        position: relative;
        top: 0px;
        font-size: 14px;
    }
       input[type="date"]::-webkit-datetime-edit {
        font-size: 13px;
    }

}

@media (min-width: 922px)  {
 
       .inner-container {

        width: 90%;
        height: 100vh;
        position: relative;
        top: 60px;
        left: 200px;
        border-radius: 40px;
    }
    .inner-container h1{
        font-size: 35px;
        position: relative;
        top: 35px;
        left: -180px;
    }
    .form-container{
        width: 800px;
    }
        .submit-button button {
        width: 200px;
        height: 40px;
        position: relative;
        left: 320px;
        top: 80px;
    }
   
   .goto {
        position: relative;
        top: 100px;
       
        left: 340px;
        font-size: 20px;
    }
}