.logout-container button{
    position: relative;
    left: 70%;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background: linear-gradient(135deg, #fc3f68, #eb0014);
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
.logout-container button:hover{
    background: linear-gradient(135deg, #ec0707, #eb0014);
}